# General
LOGGING_LEVEL="20"

# PostgreSQL
POSTGRES_DATABASE=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_PORT="5432"
POSTGRES_HOST=""

# PGAdmin
PGADMIN_DEFAULT_EMAIL="123@123.com"
PGADMIN_DEFAULT_PASSWORD=""

# TgBot settings
BOT_TOKEN=""
SPAM_CHAT_ID=""

# TgBot WEBHOOK settings
WEBHOOK_URL="https://"
WEBHOOK_PORT="88" # Если нужен порт
WEBHOOK_PATH="/api/bot/"
IS_DEVELOP="False"

# Token settings
SECRET_KEY="SECRET_KEY"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES="60"

# Traefik settings
TRAEFIK_EMAIL="123@123.com"
DOMAIN="domain.com"
#FRONT_HOST="domain.com"
#API_HOST="domain.com"